
    .btn-delete {
        border-radius: 5px;
        color: white ;
        border: 1px solid brown ; 
        padding: 5px;
        background-color: burlywood;
    }

    .btn-save {
        border-radius: 5px;
        color: white ;
        border: 1px solid brown;
        padding: 5px;
        background-color: paleturquoise;
    }
    



        
    
   